$blue: #61dafb;
$gray: #282c34;
$shadow: 0 2px 6px 0 $blue, 0 4px 8px 0 $blue;
$hover-shadow: 0 3px 15px 0 $blue, 0 6px 12px 0 $blue;

.App {
  text-align: center;
  background-color: #282c34;
  padding: 1em;
}

h1, h3 {
  color: $blue;
}

h2, h4 {
  color: white;
}

.Top {
  height: 100vh;
  position: relative;
  h1 {
    font-size: 1em;
    color: $blue;
  }
}

.Info {
  position: absolute;
  bottom: 2.5%;
  width: 100%;
  margin-bottom: 3em;
  color: $blue;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-left: 0;

    li {
      padding: 0 0.5em 0 0.5em;
      display: inline-block;
    }

    a {
      color: $blue;
    }
  }
}

.Block-Content {
  position: relative;
  font-size: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #61dafb;
  margin-bottom: 1em;
}

.Block-Header {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  font-size: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #61dafb
}

.Card {
  border-radius: .125em;
  padding: .25em;
  margin: .125em;
  cursor: pointer;
  border: none;
  background: $gray;
  box-shadow: $shadow;

  -webkit-transition: box-shadow 0.25s ease;
  -moz-transition: box-shadow 0.25s ease;
  -o-transition: box-shadow 0.25s ease;

  a {
    color: white;
    font-weight: bold;
  }



  &:hover {
    box-shadow: $hover-shadow;
  }
}

.Name-animation {
  animation: test infinite 3s ease-in-out;
  height: 10vmin;
  pointer-events: none;
}